.face {
	width: 120px;
	height: 120px;
	image-rendering: pixelated;
	display: block;
}

.profileSpan {
	width: 120px;
	display: block;
}

.centerLabel {
	width: 120px;
	text-align: center;
	display: block;
}

.centerLabelEpisode {
	width: 640px;
	text-align: center;
	display: block;
}

.face:hover {
	box-shadow: 10px 5px 5px rgb(0, 0, 0);
	transform: translateY(-4px);
	cursor: pointer;
}

.seasonEpisodeMenu {
	flex-direction: row;
	display: flex;
	overflow: scroll;
	height: 400px;
	gap: 40px;
}

.centerDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50vh;
	gap: 60px;
}

.episodeImg {
	width: 640;
	height: 360;
	display: block;
}

.episodeImg:hover {
	filter: brightness(120%);
}